body {
  margin:0;
  font-family: Arial;
  background:#0b0f19;
  color:white;
}

/* HEADER */
header {
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#111827;
}

.logo {
  color:#00e5ff;
  font-weight:bold;
}

nav a {
  color:white;
  margin:0 10px;
  text-decoration:none;
}

/* HERO */
.hero {
  text-align:center;
  padding:80px 20px;
}

.hero h1 {
  font-size:40px;
  color:#00e5ff;
}

.hero button {
  padding:12px 20px;
  background:#00e5ff;
  border:none;
  font-weight:bold;
  cursor:pointer;
}

/* PACKAGES */
.grid {
  display:flex;
  justify-content:center;
  gap:20px;
  margin:30px;
  flex-wrap:wrap;
}

.card {
  background:#111827;
  padding:20px;
  width:150px;
  border-radius:10px;
  text-align:center;
  border:1px solid #1f2937;
}

.popular {
  border:2px solid #00e5ff;
}

/* ORDER */
.form {
  text-align:center;
  margin:20px;
}

input, select {
  display:block;
  margin:10px auto;
  padding:10px;
  width:250px;
  border-radius:5px;
  border:none;
}

button {
  background:#00e5ff;
  padding:10px 20px;
  border:none;
  font-weight:bold;
  cursor:pointer;
}

#msg {
  margin-top:10px;
  color:lightgreen;
}

/* FOOTER */
footer {
  text-align:center;
  padding:20px;
  margin-top:50px;
  background:#111827;
}
